.navbar-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.35rem;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease;
  }
  .navbar-links a:hover {
    color: #fff;
  }
  .navbar-links a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
    